@font-face{font-family:'Proxima Nova';
    font-weight:300;font-display:swap;font-style:normal;
    src:url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2) format("woff2"),url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff) format("woff"),url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.ttf) format("truetype")}
@font-face{font-family:'Proxima Nova';font-weight:400;font-display:swap;font-style:normal;
    src:url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff2) format("woff2"),url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff) format("woff"),url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.ttf) format("truetype")}
@font-face{font-family:'Proxima Nova';font-weight:600;font-display:swap;font-style:normal;
    src:url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff2) format("woff2"),url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff) format("woff"),url(http://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.ttf) format("truetype")}


body{
    background-color: #fff159;
    font-family: 'Proxima Nova';
    margin: 25px;
}

input{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #2d3277;
    border-radius: 4px;
    background-color: #ffffff;
}

button{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #f7f7f600;
    border-radius: 4px;
    background-color: #1e2472;
    color: white;
}

.geral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogoML, svg{
    min-height: 4vh;
    width: 23vh;
    margin-left: 3vh;
    margin-top: -5vh;
    display: flex;
    position: absolute;
  }